#mapid { 
    height: 650px; 
    width: 750px;
}
.legend{
    background: white;
    line-height: 1.5em;
    width: 20em;
    text-align: center;
}
.legend i{
    font-size: 1.3em;
}
#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
#myUL a{
    text-decoration: none; /* Remove default text underline */
    /*font-size: 18px;  Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

.puerta .btn{
    margin: 5px;
}

.puerta button{
    padding: 10px 20px;
}

#mapMarker{
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
  margin-bottom:10px;
}
.card-header h4{
    margin-top: 10px;
    margin-bottom: 0px;
}
.navbar h3{
    font-weight: 700;
    text-transform: uppercase;
}